@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
  --primary-blue: 18, 140, 237;
  --accent-yellow: 255, 214, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8fafc;
  background-image: url('/bg-pattern.png');
  background-repeat: repeat;
  background-size: 400px;
  background-blend-mode: multiply;
  /* Slate-50 */
}